.header {
    display: flex;
    align-items: center;
    background: #00b7ff;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
}

.header .logo {
    max-height: 100px;

}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}

.header .logoapp{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style: normal;
    padding-left: 0,1px;
}